.pagination {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 30px;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  margin: 1px;
}

ul.pagination li:first-child,
ul.pagination li:nth-child(2) {
  background-color: none;
  border: none;
}
ul.pagination li:last-child,
ul.pagination li:nth-last-child(2) {
  background-color: none;
  border: none;
}
/* ul.pagination li:last-child {
  background-color: none;
  border: none;
} */

ul.pagination li a {
  text-decoration: none;
  color: #906290;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: #906290;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: white;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #906290;
}
